.logo {
  margin-right: 20px;
}

form {
  max-width: 300px;
  .form-group {
    .error {
      font-size: 12px;
      color: $errorColor;
    }
    &.form-group--error {
      input {
        border: 1px solid $errorColor;
        &:focus {
          outline: 0;
          -webkit-box-shadow: 0 0 0 0.2rem rgba($errorColor,.25);
          box-shadow: 0 0 0 0.2rem rgba($errorColor,.25);
        }
      }
    }
  }
  .loading {
    margin-left: 20px;
  }
}